<h1>CSV database </h1>

<p style="color: red"><%= notice %></p>

<%= form_with url: import_path, method: :post do |form| %>
  <%= form.file_field :file, accept: ".csv"%>
  <%= form.button "Import" %>
<% end %>
